<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />

    <!-- font -->
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Bungee" rel="stylesheet" type="text/css">
    <!-- css script -->
    <link rel="stylesheet" type="text/css" href="style.css" >
    
    <!-- socket.io script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>    

    <!-- title of page -->
    <title> Guns1v1.IO Alphav1.0 </title>
    
  </head>

  <body>
    <!-- ========================================== LOGIN ==========================================  -->
    <!-- Login Page -->
    <div id="loginPage" style="display: none;">      
      <!-- login -->
      <div class="login-wrap">      
        <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked/><label for="tab-1" class="tab">Sign In</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"/><label for="tab-2" class="tab"></label>
        
          <div class="login-form">
            <div class="group">
              <label for="user" class="label"> Username </label>
              <input id="usernameLogin" name="loginUsername" type="text" class="input" value="" required/>
            </div>
            
            <div class="group">
              <div >
              <!-- <?php if (isset($login_error)): ?> class="form_error" <?php endif ?>  -->            
                <label for="pass" class="label">Password</label>
                <input id="passwordLogin" name="loginPassword" type="password" class="input" data-type="password" value="" required/>
                <?php if (isset($login_error)): ?>
              <span><?php echo $login_error; ?></span>
              <?php endif ?>
              </div>
            </div>              
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> Keep me Signed in</label>                   
            </div>            
            <div class="group">
              <button id="signInButton" class="button" type="button"> Sign In </button>
            </div>            
            <div class="hr"> </div>
              <p>
                <center> <a href="#" onclick="return show('registrationPage', 'loginPage');"> Not yet a Member? Sign up </a> </center>
              </p>                                   
          </div>
        </div>
      </div>   
    </div>

    <!-- ========================================== REGISTRATION ==========================================  -->
    <div id="registrationPage" style="display: none;">
      <div class="signup-wrap">
        <div class="login-html">
          <input id="tab-3" type="radio" name="tab2" class="sign-in" checked/><label for="tab-3" class="tab">Sign Up</label>
          <input id="tab-4" type="radio" name="tab2" class="sign-up"/><label for="tab-4" class="tab"></label>
          
          <!-- signup --> 
          <div class="login-form">                       
            <table>
              <td>
                <tr>
                  <div class="group">
                    <div> 
                      <label for="user" class="label"> Username </label>
                      <input id="usernameSignUp" name="username" type="text" class="input" required/>
                    </div>
                  </div> 
  
                  <div class="group">
                    <div>
                      <label for="user" class="label"> User Email </label>
                      <input id="useremailSignUp" name="email" type="email" class="input"required/>
                      <!-- <?php if (isset($email_error)): ?>
                      <span><?php echo $email_error; ?></span>
                      <?php endif ?> -->
                    </div>
                  </div> 
  
                  <div class="group">
                    <div>
                      <label for="pass" class="label"> Password </label>
                      <input id="passwordSignUp" name="password_1" type="password" class="input" data-type="password" value="" required/>
                      <!-- <?php if (isset($password_error)): ?>
                      <span><?php echo $password_error; ?></span>
                      <?php endif ?> -->
                    </div>
                  </div>  

                  <div class="group">
                    <div>
                      <label for="pass" class="label"> Confirm Password </label>
                      <input id="passwordSignUpConfirm"name="password_2" type="password" class="input" data-type="password" value="" required/>
                      <!-- <?php if (isset($password_error)): ?>
                      <span><?php echo $password_error; ?></span>
                      <?php endif ?>   -->
                    </div>
                  </div>  
  
                  <div class="group">
                    <button id="signUpButton" class="button" type="button"> Sign Up </button>
                  </div>
                </tr>
              </td>

              <div class="hr"></div>
              <p>
                <center> <a href="#" onclick="return show('loginPage', 'registrationPage');"> Already a Member? Sign In </a></center>
              </p>

            </table>
          </div>          
        </div>        
      </div>      
    </div>

    <!-- ========================================== CHAT ROOM ==========================================  -->
    <!-- chat code -->
    <div id="chatRoom">      
      <div class="chat-wrap">
        <header>
          <!-- <input id="tab-5" type="radio" name="tab" class="sign-in" checked/><label for="tab-5" class="tab"> Guns1v1.IO Public Chat Room </label> -->
          <h1> Guns1v1.IO</h1>
          <div class="btn-group">
            <table>
              <tr>
                <td> <button id="rankedButton" class="rButton" type="submit"> Ranked Game </button> </td>
                <td> <button id="casualButton" class="cButton" type="submit"> Casual  Game </button> </td>
                <td> <button id="leaderboardButton" class="lBoardButton" type="button">Check Leaderboards </button> </td>
                <td> <button id="profileButton" class="vButton" type="button"> View Profile </button> </td>
                <td> <button id="logout" class="lButton" type="button"> Logout </button> </td>
              </tr>
            </table>                                                                            
          </div>
        </header>  
        <center>
          <br> <br>            
          <table style="width: 95%; border:5px solid black;margin-left:auto;margin-right:auto;">
            <tr style="border: 5px solid black;">
              <td style="width: 15%; border: 5px solid black;">                
                <center> <p style="font-size: 40px;"> <br> <br> <br> Main Menu </p> </center> <br> <br>  
                <center> === PLAYER STATUS === </center>
                <p> Players Online: <label id="playerCount" for="p_online" class="label"> 0 </label> </p>
                <p> Players Playing: <label id="ingameCount" for="p_playing" class="label"> 0 </label> </p>
                <p> Players Queuing in Rank: <label id="rankQueueCount" for="r_queue" class="label"> 0 </label> </p>
                <p> Players Queuing in Casual: <label id="casualQueueCount" for="c_queue" class="label"> 0 </label></p>                         
              </td>
              <td style="width: 50%; vertical-align: text-top;">                                
                <section style="overflow: scroll; height: 10%;">
                  <br> <center> === CHANGE LOG === </center> <br>          
                  <p> <center> Update Log 3: Guns1v1 alpha 1.0 </center> </p>
                  <p> - Reduced sign up values </p>
                  <p> - Added button onclick change color </p>
                  <p> - Removed SQL side signup values </p>

                  <p> <center> <br> Update Log 2: Guns1v1 alpha 1.0 </center> </p>
                  <p> - Added password encryption and decryption </p>
                  <p> - Improved User Interface </p>
                  <p> - Sending message now clears the input field </p>
                  <p> - Added changelog menu in the main menu </p>
                  <p> - The interface can now show the number of people online, queuing for games, and in-game </p>
                  
                  <p> <br> <center> Update Log 1: Guns1v1 alpha 1.0 </center> </p>
                  <p> Current Capabilities </p>
                  <p> - Login System with SQL </p>
                  <p> - Working real-time chat system </p>
                </section>
                
              </td>
              <td style="border: 5px solid black;">
                <section id="chatroom" style="overflow: auto;">
                  <section id="feedback"></section>
                </section>
                <section id="input_zone"> 
                  <br>
                  <input id="message" type="text" maxlength="30" placeholder="Enter Message"/>
                  <button id="sendMessage" type="button" style="display: none;"> Send </button>                  
                </section>
                <!-- class="vertical-align" -->
              </td>
            </tr>
          <!-- <section>
            <div id="changeUsername">
              <input id="username" type="text" />
              <button id="sendUserName" type="button"> Change username </button>
            </div>
          </section> -->                    
            </table>
          </center>
      </div>
    </div>

    <!-- ========================================== LEADERBOARDS ==========================================  -->
    <div id="leaderboard" style="display: none;">
      <header>
          <h1> <br> <br> Guns1v1.IO</h1>
          <p style="font-size: 40px;"> <br> LEADERBOARDS </p>
          <button id="leaderboardMainMenu" class="rButton" type="submit"> Main Menu </button>
      </header>
    </div>

    <!-- ========================================== PROFILE ==========================================  -->
    <div id="profile" style="display: none;">
      <header>
        <h1> <br> <br> Guns1v1.IO</h1>
        <p style="font-size: 40px;"> <br> Profile </p>
        <button id="profileMainMenu" class="rButton" type="submit"> Main Menu </button>
    </header>
    </div>

    <!-- jQuery and other scripts needed -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="functions.js"></script>
    <!-- <script> alert("Fully loaded"); </script> -->

  </body>
</html>