<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />

    <!-- font -->
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Bungee" rel="stylesheet" type="text/css">
    <!-- css script -->
    <link rel="stylesheet" type="text/css" href="style.css" >
    
    <!-- socket.io script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>    

    <!-- three js -->
    <script src="three.min.js"></script>
    
    <!-- title of page -->
    <title> Guns1v1.IO Alphav1.0 </title>
    
  </head>

  <body>    
    <!-- ========================================== LOGIN ==========================================  -->
    <!-- Login Page -->
    <div id="loginPage"> 

      <!-- login -->
        <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked/><label for="tab-1" class="tab"> Sign In </label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"/><label for="tab-2" class="tab"></label>
        
          <div class="login-form">
            <div class="group">
              <label for="user" class="label"> Username </label>
              <input id="usernameLogin" name="loginUsername" type="text" class="input" value="" required/>
            </div>
            
            <div class="group">
              <div >
              <!-- <?php if (isset($login_error)): ?> class="form_error" <?php endif ?>  -->            
                <label for="pass" class="label">Password</label>
                <input id="passwordLogin" name="loginPassword" type="password" class="input" data-type="password" value="" required/>
              </div>
            </div>              
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> Keep me Signed in</label>                   
            </div>            
            <div class="group">
              <button id="signInButton" class="button" type="button"> Sign In </button>
            </div>            
            <div class="hr"> </div>
              <p>
                <center> <a href="#" onclick="return show('registrationPage', 'loginPage');"> Not yet a Member? Sign up </a> </center>
              </p>       
          </div>
        </div>
    </div>

    <!-- ========================================== REGISTRATION ==========================================  -->
    <div id="registrationPage" style="display: none;">
        <div class="login-html">
          <input id="tab-3" type="radio" name="tab2" class="sign-in" checked/><label for="tab-3" class="tab">Sign Up</label>
          <input id="tab-4" type="radio" name="tab2" class="sign-up"/><label for="tab-4" class="tab"></label>
          
          <!-- signup --> 
          <div class="login-form">                       
            <table>
              <td>
                <tr>
                  <div class="group">
                    <div> 
                      <label for="user" class="label"> Username </label>
                      <input id="usernameSignUp" name="username" type="text" class="input" required/>
                    </div>
                  </div> 
  
                  <div class="group">
                    <div>
                      <label for="user" class="label"> User Email </label>
                      <input id="useremailSignUp" name="email" type="email" class="input"required/>
                    </div>
                  </div> 
  
                  <div class="group">
                    <div>
                      <label for="pass" class="label"> Password </label>
                      <input id="passwordSignUp" name="password_1" type="password" class="input" data-type="password" value="" required/>
                    </div>
                  </div>  

                  <div class="group">
                    <div>
                      <label for="pass" class="label"> Confirm Password </label>
                      <input id="passwordSignUpConfirm"name="password_2" type="password" class="input" data-type="password" value="" required/>
                    </div>
                  </div>  
  
                  <div class="group">
                    <button id="signUpButton" class="button" type="button"> Sign Up </button>
                  </div>
                </tr>
              </td>

              <div class="hr"></div>
              <p>
                <center> <a href="#" onclick="return show('loginPage', 'registrationPage');"> Already a Member? Sign In </a></center>
              </p>

            </table>
          </div>          
        </div>        
    </div>

    <!-- ========================================== CHAT ROOM ==========================================  -->
    <!-- chat code -->
    <div id="chatRoom" style="display: none;">      
      <div class="chat-wrap">
        <header>
          <h1 style="color: rgb(180, 180, 180);"> Guns1v1.IO - Main Menu </h1> <br>
          <div class="btn-group">
            <center> <table id="actionButtonTable">
              <tr>
                <br>
                <td> <button id="instructions" class="helpButton" type="submit"> How to Play </button> </td>
                <td> <button id="rankedButton" class="rButton" type="submit"> Ranked </button> </td>
                <td> <button id="casualButton" class="cButton" type="submit"> Casual </button> </td>
                <td> <button id="leaderboardButton" class="lBoardButton" type="button">Leaderboards </button> </td>
                <td> <button id="profileButton" class="vButton" type="button"> Profile </button> </td>
                <td> <button id="logout" class="lButton" type="button"> Logout </button> </td>
              </tr>
            </center> </table>                                                                            
          </div>
        </header>  
        <center>
          <br> <br>            
          <table style="width: 95%; border:5px solid rgb(15, 15, 15);margin-left:auto;margin-right:auto;">
            <tr style="border: 5px solid rgb(12, 12, 12);">
              <td style="width: 20%; border: 5px solid rgb(10, 10, 10); vertical-align: text-top; color: rgb(180, 180, 180);">                
                <center> == PLAYER STATUS == 
                <p> Players Online <br> == <label id="playerCount" for="p_online" class="label"> 0 </label> == </p>
                <p> Players Playing <br> == <label id="ingameCount" for="p_playing" class="label"> 0 </label> == </p>
                <p> Queuing in Rank <br> == <label id="rankQueueCount" for="r_queue" class="label"> 0 </label> == </p>
                <p> Queuing in Casual <br> == <label id="casualQueueCount" for="c_queue" class="label"> 0 </label> == </p>                         
                </center>
              </td>
              <td style="width: 50%; vertical-align: text-top;">  
                <!-- <iframe src="Guns1v1.IO\views\changelog.txt" frameborder="0" height="100%" width="100%"></iframe>                               -->
                <section id="changelogArea" style="overflow: auto; height: 550px; max-height: 100%; color: rgb(180, 180, 180);">
                </section>                
              </td>
              <td style="border: 5px solid black;">
                <section id="chatroom" style="overflow: auto;">
                  <section id="feedback"></section>
                </section>
                <section id="input_zone"> 
                  <br>
                  <input id="message" type="text" maxlength="30" placeholder="Enter Message"/>
                  <button id="sendMessage" type="button" style="display: none;"> Send </button> 
  
                </section>
                <!-- class="vertical-align" -->
              </td>
            </tr>
          <!-- <section>
            <div id="changeUsername">
              <input id="username" type="text" />
              <button id="sendUserName" type="button"> Change username </button>
            </div>
          </section> -->                    
            </table>
          </center>
      </div>
    </div>

    <!-- ========================================== INSTRUCTIONS ==========================================  -->
    <div id="instructionsPage" style="display: none;">
      <div class="leaderboard-html">
        <header>
            <h1> <br> <br> Guns1v1.IO </h1>
            <p style="font-size: 40px;"> <br> HOW TO PLAY </p>
            <button id="instructionMainMenu"class="helpButton" type="submit"> Return to Main Menu </button> 
        </header>
    </div>
  </div>

    <!-- ========================================== LEADERBOARDS ==========================================  -->
    <div id="leaderboard" style="display: none;">
        <div class="leaderboard-html">
          <header>
              <h1> <br> <br> Guns1v1.IO </h1>
              <p style="font-size: 40px;"> <br> LEADERBOARDS </p>

              <!-- Leaderboard Filter Choices -->
              <select id="leaderboardChoices">
                <option value="userWin"> Wins </option>
                <option value="userElo"> Elo </option>
                <option value="timesUsedCharge"> Used Charge </option>
                <option value="timesUsedPistol"> Used Pistol </option>
                <option value="timesUsedCounter"> Used Counter </option>
                <option value="timesUsedShield1"> Used Shield Lvl 1 </option>
                <option value="timesUsedEvade"> Used Evade </option>
                <option value="timesUsedBlock"> Used Block </option>
                <option value="timesUsedDoublePistol"> Used Double Pistol </option>
                <option value="timesUsedGrenade"> Used Grenade </option>
                <option value="timesUsedShotgun"> Used Shotgun </option>
                <option value="timesUsedShield2"> Used Shield Lvl 2 </option>
                <option value="timesUsedLaser"> Used Laser </option>
                <option value="timesUsedShield3"> Used Shield Lvl 3 </option>
                <option value="timesUsedNuke"> Used Nuke </option>
              </select>
              <button id="leaderboardShow" class="leaderboardshowButton" type="submit"> Show </button> <br> <br> <br>
                <center> <table id="leaderboardTable" style="vertical-align: middle; width: 70%; border:5px solid rgb(226, 225, 225); margin-left:auto;margin-right:auto;">
                  <tr style="border: 5px solid rgb(221, 220, 220);">
                    <th style="border: 5px solid rgb(224, 224, 224); width: 50%;"> Name </th> <th id="tableType" style="border: 5px solid rgb(224, 224, 224); width: 50%;"> Wins </th>
                  </tr>
                </center> </table>
                <button id="leaderboardMainMenu"class="menuButton" type="submit"> Return to Main Menu </button> 
          </header>
      </div>
    </div>

    <!-- ========================================== PROFILE ==========================================  -->
    <div id="profile" style="display: none;">
      <header>  
        <h1> <br> <br> Guns1v1.IO </h1>
        <p id="profileUserName" style="font-size:40px;"> User </p> 
        <p><img src="" alt="Avatar" class="avatar"></p>
        <button id="uploadAvatar"class="uploadButton" type="submit">Upload Avatar </button> 
        <br> <br>
        <center>
          Player Statistics <br>
          <table style="vertical-align: middle; width: 70%; border:1px solid rgb(206, 206, 206); margin-left:auto;margin-right:auto;">
            <tr>
              <th> Wins </th> <th> Lose </th> <th> Games </th> <th> Elo </th>
            </tr>
            <tr>
              <th id="profileWin"> 0 </th> <th id="profileLose"> 0 </th> <th id="profileGames"> 0 </th> <th id="profileElo"> 0 </th>
            </tr>
            <tr>
              <th> Used Charge </th> <th> Used Pistol </th> <th> Used Counter </th> <th> Used Shield1 </th>    
            </tr>
            <tr>
              <th id="profileCharge"> 0 </th> <th id="profilePistol"> 0 </th> <th id="profileCounter"> 0 </th> <th id="profileShield1"> 0 </th>
            </tr>
            <tr>
              <th> Used Evade </th> <th> Used Block </th> <th> Used Double Pistol </th> <th> Used Grenade </th>    
            </tr>
            <tr>
              <th id="profileEvade"> 0 </th> <th id="profileBlock"> 0 </th> <th id="profileDoublePistol"> 0 </th> <th id="profileGrenade"> 0 </th>
            </tr>
            <tr>
              <th> Used Shotgun </th> <th> Used Shield2 </th> <th> Used Laser </th> <th> Used Shield 3 </th>    
            </tr>
            <tr>
              <th id="profileShotgun"> 0 </th> <th id="profileShield2"> 0 </th> <th id="profileLaser"> 0 </th> <th id="profileShield3"> 0 </th>
            </tr>
            <tr>
              <th> Used Nuke </th>
            </tr>
            <tr>
              <th id="profileNuke"> 0 </th>
            </tr>
          </table>
        </center>
        <button id="profileMainMenu" class="menuButton"type="submit"> Return to Main Menu </button>
    </header>
    </div>

    <!-- ===================================== RANK MATCHMAKING =====================================  -->
    <div id="rankMatch" style="display: none;">
      <center>
      <div id="rankLobbyName"> </div> <br>
      <div id="rankEnemyName"> </div> <br>
      <div> Used: </div> <div id="rankEnemyUsed"> No Actions Yet </div>
      <div id="rankReady"> Not Ready </div>
      <br> <div> vs </div> <br>
      <div id="rankPlayerName"> </div> <br>      
      <div> <p> Charges: </p> <p id="chargeCount"> 0 </p> </div>
      <div> Used: </div> <div id="rankPlayerUsed"> No Actions Yet </div>
      <button id="rankDisconnect" class="quitButton" type="submit"> Leave Game </button>
      <table id="matchActions">
        <tr>
          <td> <button id="rankCharge" class="t1Button" type="submit"> Charge (+1) </button> </td>
          <td> <button id="rankPistol" class="t1Button" type="submit"> Pistol (1) </button> </td>
          <td> <button id="rankCounter" class="t1Button" type="submit"> Counter (1) </button> </td>
          <td> <button id="rankShield1" class="t1Button" type="submit"> Shield 1 (1) </button> </td>
          <td> <button id="rankEvade" class="t1Button" type="submit"> Evade (FREE) </button> </td>
        </tr>
        <tr>
          <td> <button id="rankBlock" class="t2Button" type="submit"> Block (FREE) </button> </td>
          <td> <button id="rankDoublePistol"class="t2Button"  type="submit"> Double Pistol (2) </button> </td>
          <td> <button id="rankGrenade"class="t2Button" type="submit"> Grenade (2) </button> </td>
          <td> <button id="rankShotgun"class="t2Button" type="submit"> Shotgun (2) </button> </td>
          <td> <button id="rankShield2" class="t2Button"type="submit"> Shield 2 (2) </button> </td>
        </tr>
        <tr>
          <td></td>
          <td> <button id="rankLaser"class="t3Button" type="submit"> Laser (3) </button> </td>
          <td> <button id="rankShield3"class="t3Button" type="submit"> Shield 3 (3) </button> </td>
          <td> <button id="rankNuke" class="t3Button"type="submit"> Nuke (4) </button> </td>
          <td></td>
        </tr>
      </table>
      </center>
    </div>

    <!-- ===================================== CASUAL MATCHMAKING =====================================  -->
    <div id="casualMatch" style="display: none;">
      <center>
      <div id="casualLobbyName"> </div> <br>
      <div id="casualEnemyName"> </div> <br>
      <div id="casualReady"> Not Ready </div>
      <div> Used: </div> <div id="casualEnemyUsed"> No Actions Yet </div>
      <br> <div> vs </div> <br>
      <div id="casualPlayerName"> test </div> <br>      
      <div> <p> Charges: </p> <p id="casualChargeCount"> 0 </p> </div>
      <div> Used: </div> <div id="casualPlayerUsed"> No Actions Yet </div>
      <button id="casualDisconnect"class="quitButton" type="submit"> Leave Game </button>
      <table id="matchActions">
        <tr>
          <td> <button id="casualCharge"class="t1Button" type="submit"> Charge (+1) </button> </td>
          <td> <button id="casualPistol" class="t1Button"type="submit"> Pistol (1) </button> </td>
          <td> <button id="casualCounter" class="t1Button"type="submit"> Counter (1) </button> </td>
          <td> <button id="casualShield1"class="t1Button" type="submit"> Shield 1 (1) </button> </td>
          <td> <button id="casualEvade"class="t1Button" type="submit"> Evade (FREE)  </button> </td>
        </tr>
        <tr>
          <td> <button id="casualBlock"class="t2Button" type="submit"> Block (FREE) </button> </td>
          <td> <button id="casualDoublePistol" class="t2Button"type="submit"> Double Pistol (2) </button> </td>
          <td> <button id="casualGrenade"class="t2Button" type="submit"> Grenade (2) </button> </td>
          <td> <button id="casualShotgun"class="t2Button" type="submit"> Shotgun (2) </button> </td>
          <td> <button id="casualShield2"class="t2Button" type="submit"> Shield 2 (2) </button> </td>
        </tr>
        <tr>
          <td></td>
          <td> <button id="casualLaser"class="t3Button" type="submit"> Laser (3) </button> </td>
          <td> <button id="casualShield3" class="t3Button"type="submit"> Shield 3 (3) </button> </td>
          <td> <button id="casualNuke"class="t3Button"  type="submit"> Nuke (4) </button> </td>
          <td></td>
        </tr>
      </table>
      </center>
    </div>

    <!-- ===================================== WIN PAGE =====================================  -->
    <div id="winPage" style="display: none;">
      <center>
        <div> <p> Congratulations! </p> </div>
        <div id="winPageName"> </div>
        <div> You Won! </div>
        <button id="winPageMainMenu" class="menuButton"type="submit"> Return to Main Menu </button>
      </center>
    </div>

    <!-- ===================================== LOSS PAGE =====================================  -->
    <div id="losePage" style="display: none;">
      <center>
        <div> <p> Better Luck Next Time! </p> </div>
        <div id="losePageName"> </div>
        <div> You Lost! </div>
        <button id="losePageMainMenu" class="menuButton"type="submit"> Return to Main Menu </button>
      </center>
    </div>

    <!-- jQuery and other scripts needed -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="functions.js"></script>
    <script src="app.js"></script>
    
    <!-- <script> alert("Fully loaded"); </script> -->

  </body>
</html>