/* ========================================== Main Body ========================================== */
body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font: 600 16px/18px 'Bungee', cursive;
    width: 100vw;
    height: 100vh;
    /* to remove unnecessary scroll bar */
    overflow: hidden; 
  }

/* ===================================== Three.js background ===================================== */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ========================================== Login Page ========================================== */
#loginPage {  
  transform: translate(0%, 35%);
}

.login-html{
  width:40%;
  height:50%;
  margin: 0 auto;
}

/* ======================================= Registration Page ======================================= */
#registrationPage {  
  transform: translate(0%, 15%);
}

/* ======================================= Chatroom Page ======================================= */
#chatRoom {
  background-color: rgba(0,0,0,0);
  width:100%;
  height:100%;
  margin:auto;
  transform: translate(0%, 5%);
}

#mainMenuContainer {
  width: 95%; 
  border: 0;
  margin-left:auto;
  margin-right:auto;
}

#changelogArea {
  overflow: auto; 
  height: 460px; 
  width: 100%;
  max-height: 100%; 
  table-layout: fixed;
  color: rgb(180, 180, 180);
}

#playerStatus {
  width: 20%; 
  /* border: 5px solid rgb(10, 10, 10);  */
  vertical-align: text-top; 
  color: rgb(180, 180, 180);
}

section#chatroom {
  border: 5px inset #8258FA;
  height: 390px;
  max-height:100%;
  width: 100%;
  overflow: auto;    
  /* display: none;   */
}

section#input_zone {  
  text-align: center;
  background-color: #BCA9F5;
  width:100%;
  padding-bottom: 10px;      
  /* display: none;   */
}

/* ======================================= Rank and Casual Page ======================================= */

#rankMatch, #casualMatch {
  color: white;
}
#rankLobbyName, #casualLobbyName {
  margin-top: 5%;
  font-size: 150%;
}
#rankOtherDetails, #casualOtherDetails {  
  width: 100%;
  bottom: 0;
  margin: auto;
  text-align: center;
  position: fixed;
}
#rankGUI, #casualGUI {
  margin: auto;
}
#matchActions {
  margin: auto;
}
#rankEnemyStats, #casualEnemyStats {
  text-align: left;
  vertical-align: top;
}

#rankPlayerStats, #casualPlayerStats {
  text-align: right;
  vertical-align: top;
}

/* ======================================= Instructions Page ======================================= */
#instructionspage {
  background-color: rgba(0,0,0,0);
  /* align-content: center; */
  position:absolute;
  width:100%;
  height:100%;
}
#instructionsHead {
  text-align: center;
  margin-top: 5%;
  font-size: 150%;
}
.instructionspage-html{
  text-align: right;
  bottom: 0;
  position: fixed;
  right: 0;
  padding-right: 10%;
  /* margin: 0px auto; */
  /* background:rgba(40,57,101,.9); */
}

.t1InstructionButton:hover {background-color: rgb(1, 129, 119)}
.t1InstructionButton {
  background:none;
  /* background-color: rgb(49, 255, 245);  */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bungee', cursive;
  font-size: 100%;
  border-radius:5px;
  border:solid 1px rgb(49, 255, 245);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;



  width:100%;
  height: 10%;
  
  -webkit-box-shadow: 0px 6px 0px #008079;
  -moz-box-shadow: 0px 6px 0px #008079;
  box-shadow: 0px 6px 0px #008079;
}
.mechanics {
  display: inline-block;
  width: 600px;
  background:none;
  color: #fff;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  white-space:pre-wrap;
  position: absolute;
  top:-10%;
  left:-60%;
  z-index: 1;
}
.t1InstructionButton .tooltiptext {
  visibility: hidden;
  width: 600px;
  background:none;
  color: #fff;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  white-space:pre-wrap;
  position: absolute;
  top:-100%;
  left:10%;
  z-index: 1;
}
.t1InstructionButton:hover .tooltiptext {
  visibility: visible;

}

.t1InstructionButton:hover .mechanics {
  display: none;
}

.t2InstructionButton:hover {background-color:#25006b}
.t2InstructionButton {
  background:none;
  /* background-color: rgb(90, 41, 226);  */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bungee', cursive;
  font-size: 100%;
  border-radius:5px;
  border:solid 1px rgb(28, 57, 224);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;


  width:100%;
  height: 5%;
  
  -webkit-box-shadow: 0px 6px 0px #25006b;
  -moz-box-shadow: 0px 6px 0px #25006b;
  box-shadow: 0px 6px 0px #25006b;
}
.t2InstructionButton .tooltiptext {
  visibility: hidden;
  width: 600px;
  background:none;
  color: #fff;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  white-space:pre-wrap;
  position: absolute;
  top:-100%;
  left:10%;
  z-index: 1;

}
.t2InstructionButton:hover .tooltiptext {
  visibility: visible;
}
.t2InstructionButton:hover .t1InstructionButton.mechanics {
  visibility: hidden;
}

.t3InstructionButton:hover {background-color: #979500}
.t3InstructionButton {
  background:none;
  /* background-color: rgb(223, 226, 41);  */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bungee', cursive;
  font-size: 100%;
  border-radius:5px;
  border:solid 1px rgb(223, 226, 41);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  width:100%;
  height: 5%;
  
  -webkit-box-shadow: 0px 6px 0px #979500;
  -moz-box-shadow: 0px 6px 0px #979500;
  box-shadow: 0px 6px 0px #979500;
}
.t3InstructionButton .tooltiptext {
  visibility: hidden;
  width: 600px;
  background:none;
  color: #fff;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  white-space:pre-wrap;
  position: absolute;
  top:-100%;
  left:10%;
  z-index: 1;
}
.t3InstructionButton:hover .tooltiptext {
  visibility: visible;
}
.t3InstructionButton:hover .mechanics {
  visibility: hidden;
}
.t4InstructionButton:hover {background-color: #973c00}
.t4InstructionButton {
  background:none;
  /* background-color: rgb(255, 126, 51);  */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bungee', cursive;
  font-size: 100%;
  border-radius:5px;
  border:solid 1px rgb(226, 109, 41);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  width:100%;
  height: 5%;
  
  -webkit-box-shadow: 0px 6px 0px #973c00;
  -moz-box-shadow: 0px 6px 0px #973c00;
  box-shadow: 0px 6px 0px #973c00;
}
.t4InstructionButton .tooltiptext {
  visibility: hidden;
  width: 600px;
  background:none;
  color: #fff;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  white-space:pre-wrap;
  position: absolute;
  top:-100%;
  left:10%;
  z-index: 1;
}
.t4InstructionButton:hover .tooltiptext {
  visibility: visible;
}

.t4InstructionButton:hover .mechanics {
  visibility: hidden;
}
.evadeInstructionButton:hover {background-color: rgb(2, 114, 2)}
.evadeInstructionButton {
  background:none;
  /* background-color: rgb(35, 216, 75);  */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bungee', cursive;
  font-size: 100%;
  border-radius:5px;
  border:solid 1px rgb(26, 211, 66);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;




  width:100%;
  height: 10%;
  
  -webkit-box-shadow: 0px 6px 0px #0dc545;
  -moz-box-shadow: 0px 6px 0px #0dc545;
  box-shadow: 0px 6px 0px #0dc545;
}
.evadeInstructionButton .tooltiptext {
  visibility: hidden;
  width: 450px;
  background:none;
  color: #fff;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  white-space:pre-wrap;
  position: absolute;
  top:-100%;
  left:10%;
  z-index: 1;
}
.evadeInstructionButton:hover .tooltiptext {
  visibility: visible;
}

.evadeInstructionButton:hover .mechanics {
  visibility: hidden;
}
.freeInstructionButton:hover {background-color: rgb(2, 114, 2)}
.freeInstructionButton {
  background:none;
  /* background-color: rgb(35, 216, 75);  */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bungee', cursive;
  font-size: 100%;
  border-radius:5px;
  border:solid 1px rgb(26, 211, 66);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;


  width:100%;
  height: 10%;
  
  -webkit-box-shadow: 0px 6px 0px #0dc545;
  -moz-box-shadow: 0px 6px 0px #0dc545;
  box-shadow: 0px 6px 0px #0dc545;
}
.freeInstructionButton .tooltiptext {
  visibility: hidden;
  width: 450px;
  background:none;
  color: #fff;
  text-align: justify;
  padding: 5px 0;
  border-radius: 6px;
  white-space:pre-wrap;
  position: absolute;
  top:-100%;
  left:10%;
  z-index: 1;
}
.freeInstructionButton:hover .tooltiptext {
  visibility: visible;
}
.freeInstructionButton:hover .t1InstructionButton .mechanics {
  visibility: hidden;
}

.t1Button:hover {background-color: rgb(1, 129, 119)}
  .t1Button {
    background:none;
    /* background-color: rgb(49, 255, 245);  */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(49, 255, 245);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    width:100%;
    height: 5%;
    
    -webkit-box-shadow: 0px 6px 0px #008079;
    -moz-box-shadow: 0px 6px 0px #008079;
    box-shadow: 0px 6px 0px #008079;
  }
  .t2Button:hover {background-color:#25006b}
  .t2Button {
    background:none;
    /* background-color: rgb(90, 41, 226);  */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(28, 57, 224);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    width:100%;
    height: 5%;
    
    -webkit-box-shadow: 0px 6px 0px #25006b;
    -moz-box-shadow: 0px 6px 0px #25006b;
    box-shadow: 0px 6px 0px #25006b;
  }
  .t3Button:hover {background-color: #979500}
  .t3Button {
    background:none;
    /* background-color: rgb(223, 226, 41);  */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(223, 226, 41);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    
    width:100%;
    height: 5%;
    
    -webkit-box-shadow: 0px 6px 0px #979500;
    -moz-box-shadow: 0px 6px 0px #979500;
    box-shadow: 0px 6px 0px #979500;
  }
  .t4Button:hover {background-color: #973c00}
  .t4Button {
    background:none;
    /* background-color: rgb(255, 126, 51);  */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(226, 109, 41);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    width:100%;
    height: 5%;
    
    -webkit-box-shadow: 0px 6px 0px #973c00;
    -moz-box-shadow: 0px 6px 0px #973c00;
    box-shadow: 0px 6px 0px #973c00;
  }
  .freeButton:hover {background-color: rgb(2, 114, 2)}
  .freeButton {
    background:none;
    /* background-color: rgb(35, 216, 75);  */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(26, 211, 66);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    width:100%;
    height: 10%;
    
    -webkit-box-shadow: 0px 6px 0px #0dc545;
    -moz-box-shadow: 0px 6px 0px #0dc545;
    box-shadow: 0px 6px 0px #0dc545;
  }
  .quitButton:hover {background-color: #750a0a}
  .quitButton {
    background:none;
    /* background-color: rgb(175, 76, 76);  */
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display:inline-block;
    font-family: 'Bungee', cursive;
    font-size: 80%;
    border-radius:5px;
    border:solid 1px rgb(175, 76, 76);
    width: 10%;
    height: 5%;

    /* margin-top: 5%; */

    margin-bottom:5px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 6px 0px #660000;
    -moz-box-shadow: 0px 6px 0px #660000;
    box-shadow: 0px 6px 0px #660000;
  }
  

/* #rankLobbyName {
  text-align: center;
} */

div#change_username, section#input_zone {
  border: 5px outset #8258FA;
}      

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#username {
  font-family: 'Comfortaa', sans-serif;
}

input#message {
  display: inline-block;
  width: 88%;
  height: 50%;
  font-family: 'Bungee', cursive;
  font-size: 2vh;
}

.message:nth-child(even) {
  background: none;
}

.message:nth-child(odd) {
  background: none;
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

  .signup-wrap{
    width:100%;
    height:10%;
    margin:auto;
    margin-top: 30px;
    max-width:525px;
    min-height:370px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }

  #actionButtonTable {
    border:0px;
    border-collapse:collapse;
    border-spacing: 0;    
    min-height: 10%;
  }

  
  #leaderboard {
    background-color: rgba(0,0,0,0);
    /* align-content: center; */
    position:absolute;
    width:100%;
    height:100%;
  }
  .leaderboard-html{
    text-align: center;

    position:relative;
    padding:20px 70px 50px 70px;
    margin: 0px auto;
    /* background:rgba(40,57,101,.9); */
    
  }

  #profile {
    background-color: rgba(0,0,0,0);
    position:absolute;
    width:100%;
    height:100%;
  }

  

  .login-wrap{
    width:100%;
    height:10%;
    margin:auto;
    max-width:525px;
    min-height:300px;
    position:relative;

    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }

  
  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    -webkit-transform:rotateY(180deg);
            transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    transition:all .4s linear;
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
  }
  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
  }
  .login-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
            perspective:1000px;
    -webkit-transform-style:preserve-3d;
            transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
  }
  .login-form .group input[data-type="password"]{
    -text-security:circle;
    -webkit-text-security:circle;
  }
  .login-form .group .label{
    color:rgb(245, 243, 243);
    font-size:12px;
  }
  .login-form .group .button{
    background:#1161ee;
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0);
            transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#fff;
  }
  .login-form .group .check:checked + label .icon{
    background:#1161ee;
  }
  .login-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
            transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
            transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
  }
  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(236, 231, 231, 0.918);
  }
  .foot-lnk{
    text-align:center;
  }
  .text-box {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    word-spacing: 12px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
  }
  .form_error span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 1.1em;
    color: #D83D5A;
  }
  .form_error input {
    border: 1px solid #D83D5A;
  }


/* @mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */
  
  * {
      box-sizing: border-box;
  }
  
  html {
      height:50px;
      max-height: 100px;
  }
  
  /* body {
      margin: 0px;
      height: 100%;
  } */
  
  header {
      text-align: center;
  }
  
  h1 {
      font-family: 'Bungee', cursive;
      font-size: 40px;
      margin: 0px;
  }
  
  p.message {
      margin: 0px;
      width: 100%;
      height: 40px;
      font-size: 2vh;
      font-family: 'Bungee', cursive;
      padding: 1vh;
      color: white;
  }
  
  .rButton:hover {background-color: #022f55}
  .rButton {
    background-color: rgb(90, 97, 202); 
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(97, 120, 224);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    margin-left: 84px;
    width:20%;
    height: 20%;
    
    -webkit-box-shadow: 0px 6px 0px #002966;
    -moz-box-shadow: 0px 6px 0px #002966;
    box-shadow: 0px 6px 0px #002966;
  }
  .cButton:hover {background-color: #9c9e04}
  .cButton {
    background-color: rgb(194, 226, 77); 
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(219, 255, 87);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    width:20%;
    height: 20%;

    -webkit-box-shadow: 0px 6px 0px #a89d00;
    -moz-box-shadow: 0px 6px 0px #a89d00;
    box-shadow: 0px 6px 0px #a89d00;
  }
  .lBoardButton:hover {background-color: #3e8e41}
  .lBoardButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px #4CAF50;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    width: 70%;
    height: 30%;

    
    -webkit-box-shadow: 0px 6px 0px #006605;
    -moz-box-shadow: 0px 6px 0px #006605;
    box-shadow: 0px 6px 0px #006605;
  }
  .vButton:hover {background-color: #8b3887}
  .vButton {
    background-color: rgb(219, 69, 212); 
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 16px;
    border-radius:5px;
    border:solid 1px rgb(219, 69, 212);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    width: 70%;
    height: 30%;
    
    
    -webkit-box-shadow: 0px 6px 0px #8b3887;
    -moz-box-shadow: 0px 6px 0px #8b3887;
    box-shadow: 0px 6px 0px #8b3887;
  }

  .lButton:hover {background-color: #750a0a}
  .lButton {
    background-color: rgb(175, 76, 76); 
    border: none;
    color: white;
    padding: 16px 64px;
    text-decoration: none;
    display:inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(175, 76, 76);
    width: 70%;
    height: 30%;
    
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 6px 0px #660000;
    -moz-box-shadow: 0px 6px 0px #660000;
    box-shadow: 0px 6px 0px #660000;
  }
  .menuButton:hover {background-color: #2d0255}
  .menuButton {
    background-color: rgb(90, 104, 235); 
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(97, 120, 224);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    margin-left: 30px;
    margin-top: 30px;
    width:50%;
    height: 10%;
    
    -webkit-box-shadow: 0px 6px 0px #002966;
    -moz-box-shadow: 0px 6px 0px #002966;
    box-shadow: 0px 6px 0px #002966;
  }
  .okButton:hover {background-color: rgb(0, 95, 16)}
  .okButton {
    background-color: rgb(90, 235, 97); 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(98, 235, 127);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    margin-left: 30px;
    margin-top: 30px;
    width:10%;
    height: 10%;
    
    -webkit-box-shadow: 0px 6px 0px #00940c;
    -moz-box-shadow: 0px 6px 0px #00940c;
    box-shadow: 0px 6px 0px #00940c;
  }
  .btn-group button {
    display: flex;  
    justify-content: center;
    
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  .uploadButton:hover {background-color: #00472a}
  .uploadButton {
    background-color: rgb(40, 214, 127); 
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(26, 211, 118);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    margin-left: 30px;
    margin-top: 30px;
    width:20%;
    height: 10%;
    
    -webkit-box-shadow: 0px 6px 0px #00472a;
    -moz-box-shadow: 0px 6px 0px #00472a;
    box-shadow: 0px 6px 0px #00472a;
  }
  .helpButton:hover {background-color: #006b6b}
  .helpButton {
    background-color: rgb(41, 205, 226); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(26, 205, 211);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
    height: 100%;
    
    -webkit-box-shadow: 0px 6px 0px #006b6b;
    -moz-box-shadow: 0px 6px 0px #006b6b;
    box-shadow: 0px 6px 0px #006b6b;
  }

  .leaderboardshowButton:hover {background-color: #006b6b}
  .leaderboardshowButton {
    background-color: rgb(41, 205, 226); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 100%;
    border-radius:5px;
    border:solid 1px rgb(26, 205, 211);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    margin-left: 30px;
    margin-top: 30px;

    width:10%;
    height: 10%;
    
    -webkit-box-shadow: 0px 6px 0px #006b6b;
    -moz-box-shadow: 0px 6px 0px #006b6b;
    box-shadow: 0px 6px 0px #006b6b;
  }
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  input#changeUserName {
    display: inline-block;
    width: 10%;
    height:5%;
    font-family: 'Bungee', cursive;
    font-size: 16px;
  }


  